@{
    Layout = "~/Views/Shared/_FarmerLayout.cshtml";
}

<h1>My Profile</h1>

<div>
    <h2>Profile Details</h2>
    <p><strong>Username:</strong> @ViewBag.Username</p>
    <p><strong>Name:</strong> @ViewBag.Name</p>
    <p><strong>Surname:</strong> @ViewBag.Surname</p>
    <p><strong>Age:</strong> @ViewBag.Age</p>
    <p><strong>Email:</strong> @ViewBag.Email</p>
    <p><strong>Gender:</strong> @ViewBag.Gender</p>
</div>
<div>
    <!-- Logout Button -->
    <form id="logoutForm" asp-controller="Home" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>